/*This is the stylesheet for the IronHacks Project*/

body.doc {
    margin: 0;
    background-color: white;
}

.cont {
    min-width: 1270px;
}

@charset "UTF-8";
@font-face {
    font-family: MODERNE SANS;
    src: url('../fonts/MODERNE SANS.TTF');
}

.glyphicon.glyphicon-time {
    font-size: 60px;
    color: crimson;
}

.glyphicon.glyphicon-list-alt {
    font-size: 60px;
    color: darkgreen;
}

.glyphicon.glyphicon-user {
    font-size: 60px;
    color: darkblue;
}

.glyphicon.glyphicon-thumbs-up {
    font-size: 60px;
    color: goldenrod
}

.glyphicon.glyphicon-education {
    font-size: 100px;
}

.glyphicon.glyphicon-home {
    font-size: 80px;
    color: goldenrod;
}

.glyphicon.glyphicon-stats {
    font-size: 80px;
}

.glyphicon.glyphicon-usd {
    font-size: 60px;
}

.glyphicon.glyphicon-ok-circle {
    font-size: 60px;
}

.glyphicon.glyphicon-road {
    font-size: 60px;
}

.glyphicon.glyphicon-tree-deciduous {
    font-size: 60px;
}

.glyphicon.glyphicon-question-sign {
    font-size: 80px;
}

.brown {
    color: #835C3B;
}

.red {
    color: #FF0000;
}

.green {
    color: darkolivegreen;
}

.blue {
    color: cornflowerblue;
}

.purple {
    color: rebeccapurple;
}

.orange {
    color: darkorange;
}

.black {
    color: black;
}

h1.title {
    font-family: MODERNE SANS;
    font-size: 50px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
    min-width: 20px;
    max-width: 800px;
    cursor: pointer;
}

h1.text {
    font-family: MODERNE SANS;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-bottom: 40px;
}

h1.text2 {
    font-family: MODERNE SANS;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    color: #cc0000;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-bottom: 40px;
}

h1.subtext {
    font-family: MODERNE SANS;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    color: #808080;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-bottom: 100px;
}

h1.subtext2 {
    font-family: MODERNE SANS;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-bottom: 20px;
}

h1.subtext3 {
    font-family: MODERNE SANS;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    color: #cc0000;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-bottom: 20px;
}

h1.subtext4 {
    font-family: MODERNE SANS;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    color: #808080;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-bottom: 30px;
}

h1.subtext5 {
    font-family: MODERNE SANS;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
    min-width: 20px;
    max-width: 260px;
    margin-bottom: 10px;
}

h1.subtext6 {
    font-family: MODERNE SANS;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: #808080;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-bottom: 5px;
    margin-top: 0px;
}

h1.subtext7 {
    font-family: MODERNE SANS;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
    min-width: 20px;
    max-width: 500px;
    margin-bottom: 25px;
    margin-top: 0px;
}

h6.title {
    font-family: MODERNE SANS;
    font-size: 25px;
    font-style: italic;
    font-weight: normal;
    color: #808080;
    text-align: center;
    min-width: 20px;
    max-width: 800px;
    margin-bottom: 80px;
}

.video-container {
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: visible;
    margin-bottom: 90px;
}

video.fillWidth {
    width: 100%;
}

#map {
    margin-top: 30px;
    position: absolute;
    height: 500px;
    width: 80%;
    padding: 2px;
    margin-left: 85%;
    display: block;
}

.col-md-6 {
    height: 200px;
    padding-top: 0px;
    margin-top: 40px;
}

.col-md-5 {
    height: 150px;
    padding-top: 0px;
    margin-top: 5px;
    margin-left: 50px;
}

#Ultra {
    font-size: 20px;
}

#Ultra2 {
    font-size: 15px;
}

#but1,
#but2 {
    font-size: 20px;
}

#but4:hover {
    background: midnightblue;
    border-color: midnightblue;
}

#but6 {
    font-size: 30px;
    margin-bottom: 80px;
    font-family: MODERNE SANS;
}

#but3:hover {
    background: green;
    border-color: darkgreen;
}

#btn1 {
    position: relative;
    margin-top: 580px;
    margin-right: 550px;
}

#indicator {
    margin: 0px;
}

#indicator2 {
    display: none;
    margin: 0px;
}

#indicator:hover {
    color: red;
    cursor: default;
}

#con1 {
    width: 220px;
}

#con1:hover {
    color: cornflowerblue;
    cursor: default;
}

#con2:hover {
    color: darkorange;
    cursor: default;
}

#con3:hover {
    color: green;
    cursor: default;
}

#con4 {
    width: 260px;
}

#con5 {
    width: 220px;
}

#con5:hover {
    color: crimson;
    cursor: default;
}

#con6:hover {
    color: darkgreen;
    cursor: default;
}

#con7:hover {
    color: darkblue;
    cursor: default;
}

#con8 {
    width: 260px;
}

#con8:hover {
    width: 260px;
    color: goldenrod;
    cursor: default;
}

#content {
    width: 400px;
}

#textmap {
    font-size: 20px;
}

#textmap2 {
    font-size: 15px;
}

#con4:hover {
    width: 260px;
    color: black;
    cursor: default;
}

#img1 {
    margin-bottom: 80px;
}

.titlestyle {
    font-family: MODERNE SANS;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: darkred;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-bottom: 20px;
    text-align: left;
}

.textrandom {
    font-family: MODERNE SANS;
    font-size: 40px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-top: 10px;
}

.subtextrandom {
    font-family: MODERNE SANS;
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
    width: 700px;
    margin-top: 30px;
}

.titlestyle tit1 {
    font-family: MODERNE SANS;
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    color: black;
    text-align: center;
    min-width: 20px;
    max-width: 600px;
    margin-bottom: 20px;
}

.bubbleChart {
    min-width: 100px;
    max-width: 700px;
    height: 700px;
    margin-right: 10px;
    margin-left: 10px;
    float: left;
}

.bubbleChart svg {
    background: white;
}

#info {
    margin-left: 680px;
}

#info1 {
    font-family: MODERNE SANS;
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
}

.infosub {
    font-family: MODERNE SANS;
    font-size: 23px;
    font-style: normal;
    font-weight: normal;
    color: #cc0000;
    text-align: left;
}

#infosub9 {
    font-family: MODERNE SANS;
    font-size: 30px;
    font-style: normal;
    font-weight: normal;
    color: red;
    text-align: left;
    width: 500px;
    text-align: center;
    margin-left: 25px;
}

#infosub9:hover {
    color: crimson;
    cursor: default;
}

#infosub ad {
    color: #808080;
}

#info {
    display: none;
}

#condition {
    font-family: MODERNE SANS;
    font-style: italic;
    font-size: 10px;
    width: 200px;
    margin-right: 400px;
}

#infosub0 {
    font-family: MODERNE SANS;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    color: #808080;
    text-align: left;
    width: 600px;
    text-align: center;
    display: none;
    margin-top: 0px;
    margin: 0px;
}

#infosub0:hover {
    color: black;
    cursor: default;
}

#traffic {
    font-size: 10px;
    width: 400px;
    margin-top: 5px;
    margin-bottom: 0pc;
}